body {
    color: lime;
    background-color: black;
}

#matrix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.join {
    display: flex;
    flex-direction: row;
    width: 100%;
}


#error {
    color: red;
}

#note {
    color: rgb(0, 148, 0);
}

.message-box {
    border-color: slategray;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    background-color: black;
    color: lime;
    height: 100vh;
    width: 80vw;
    flex-direction: column;
    display: flex;
    align-items: stretch;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.input {
    background-color: rgb(51, 51, 51);
    color: rgb(0, 227, 0);
    padding: 10px;
    display: flex;
}

h2{
    text-align: center;
}

#message {
    flex: 1;
}