body {
    color: lime;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

#matrix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

input {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #555;
    background: #111;
    color: lime;
}

.welcome {
    border-radius: 10px;
    border: 1px solid lime;
    box-shadow: 0 0 20px 5px rgba(0, 255, 0, 0.736);
    padding: 20px;
    background: rgba(0,0,0,0.5);   /* gives the semi-transparent feel */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.join {
    display: flex;
    padding: 10px;
    flex-direction:row;
}

button {
    background-color: rgb(51, 51, 51);
    color: rgb(0, 227, 0);
    padding: 10px;
    display: flex;
}

#error {
    color: red;
}

#note {
    color: rgb(0, 148, 0);
}

.message-box {
    border-radius: 10px;
    border: 1px solid lime;
    box-shadow: 0 0 20px 5px rgba(0, 255, 0, 0.736);
    background: rgba(0,0,0,0.5);
    color: lime;
    height: 100vh;
    width: 80vw;
    flex-direction: column;
    display: flex;
    align-items: stretch;
}

.messages {
    overflow-y: hidden;
    flex: 1;
    width: 100%;
}

.input {
    background-color: rgb(51, 51, 51);
    color: rgb(0, 227, 0);
    padding: 10px;
    display: flex;
}

h2{
    text-align: center;
}

#message {
    flex: 1;
}