body {
    color: lime;
    background: rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden; /* no scrolling */
    align-items: center;
}

#matrix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

button {
    background: rgba(0,0,0,0.3);
    color: rgb(0, 227, 0);
    padding: 10px;
    display: block;
}

textarea {
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    background: rgba(0, 0, 0, 0);
    color: #39ff14;
    border: 1px solid rgba(57, 255, 20, 0.3);
    overflow-y: auto;
    overflow-x: auto;
}